In [6]:
import pandas as pd

In [106]:
#Load csv files
df1=pd.read_csv("2nd dataset.csv")
# Load Excel file
df2 = pd.read_excel ("data_other_site.xlsx")
df3 = pd.read_excel("1st dataset_draft...xlsx")
df4 = pd.read_excel ("data_tourist_site.xlsx")

In [154]:
# df1.head()
# df2.head()
df3.head(2)
# df4.head(2)

,Type,Nom,Commune,Département,Région,GPS_Lat,GPS_Lon,Téléphone,Email,Site_web,Propriétaire,Maturité,Notes,Column1
0,Aéroport,Toussaint Louverture International (PAP),Tabarre,Ouest,National,18.579964,-72.292542,+509 48 94 3000,info@aan.gouv.ht,https://aan.gouv.ht,Gouvernement haïtien,Opérationnel,Hub principal international,NaN
1,Aéroport,Cap-Haïtien International (CAP),Cap-Haïtien,Nord,Nord,19.732900,-72.194800,+509 22 62 05 07,NaN,https://aan.gouv.ht,Gouvernement haïtien,Opérationnel,Accès principal au Nord,NaN

In [160]:
df3["Type"].unique()

array(['Aéroport', 'Hôtel', 'Plage', 'Grotte', 'Canyon',
       'Site Historique', 'Site Culturel'], dtype=object)

In [110]:
df2.head(2)

,Column1,Column2,Column3,Column4,Column5,Column6,Column7
0,Category,ID,Name,Type/Field,Location/Region,Details,Extra
1,Destination,DEST_CAP,Cap-Haïtien,City,Nord,Historic city with colonial heritage and night...,NaN

In [162]:
df2.columns = df2.iloc[1]
df2 = df2.iloc[1:].reset_index(drop =True)
df2

1,Destination,DEST_MILOT,Milot,Town,Nord,"Parc National Historique sites (Citadelle, Palais Sans Souci)",NaN
0,Destination,DEST_MILOT,Milot,Town,Nord,"Parc National Historique sites (Citadelle, Pal...",NaN
1,Destination,DEST_LABADIE,Labadie,Village,Nord,Fishing village; boat access only,NaN
2,Destination,DEST_FORTLIB,Fort-Liberté,Town,Nord-Est,Colonial forts and calm bay,NaN
3,Destination,DEST_LIMONAD,Limonade,Commune,Nord,Bord-de-Mer beaches and history,NaN
4,Destination,DEST_CHOUCHO,Chouchou-Baie,Beach,Nord,Long sandy beach near Borgne,NaN
...,...,...,...,...,...,...,...
57,Hotel,HOT_NORMS,Norm’s Place B&B,Hotel,Labadie,"Guesthouse, boat access",normsplacelabadee@yahoo.com
58,Restaurant,R_CAP_LAK,La Kay,Restaurant,Cap-Haïtien,"Créole cuisine, terrace, music nights",Closed Monday
59,Restaurant,R_CAP_KOK,Kokiyaj,Restaurant,Cap-Haïtien,Seafront bistro,Open 11:00–23:00
60,Restaurant,R_FORT_JOM,Jomela Bar Restaurant,Restaurant,Fort-Liberté,Small capacity,Unknown hours
61,Event,EVT_CARN,Carnaval de Cap-Haïtien,Event,Cap-Ha,NaN,NaN

In [168]:
df_all = pd.concat([df1, df2, df3, df4], ignore_index=True)

In [176]:
df_all.columns

Index([                                                     'Category',
                                                                  'ID',
                                                                'Name',
                                                          'Type/Field',
                                                     'Location/Region',
                                                             'Details',
                                                               'Extra',
                                                         'Destination',
                                                          'DEST_MILOT',
                                                               'Milot',
                                                                'Town',
                                                                'Nord',
       'Parc National Historique sites (Citadelle, Palais Sans Souci)',
                                                                   nan,
                                                                'Type',
                                                                 'Nom',
                                                             'Commune',
                                                         'Département',
                                                              'Région',
                                                             'GPS_Lat',
                                                             'GPS_Lon',
                                                           'Téléphone',
                                                               'Email',
                                                            'Site_web',
                                                        'Propriétaire',
                                                            'Maturité',
                                                               'Notes',
                                                             'Column1',
                                                          'Department',
                                                              'Region',
                                                           'Telephone',
                                                        'Proprietaire',
                                                       'Maturite_2014',
                                                          'Notes_2014'],
      dtype='object')

In [170]:
titles = [
    "Aéroport", "Hôtel", "Plage", "Grotte", "Canyon",
       "Site Historique", "Site Culturel"
]

In [178]:
columns_to_search = ["Category", "Name", "Type/Field", "Destination","Type"]

for title in titles:
    # Filter: keep rows where ANY of the columns matches the title
    filtered = df_all[df_all[columns_to_search].isin([title]).any(axis=1)]
    
    # Save output
    output_name = f"{title.replace(' ', '_')}.csv"
    filtered.to_csv(output_name, index=False)
    
    print(f"Saved → {output_name} ({len(filtered)} rows)")

Saved → Aéroport.csv (5 rows)
Saved → Hôtel.csv (16 rows)
Saved → Plage.csv (16 rows)
Saved → Grotte.csv (7 rows)
Saved → Canyon.csv (3 rows)
Saved → Site_Historique.csv (5 rows)
Saved → Site_Culturel.csv (4 rows)