In [53]:
import pandas as pd

In [45]:
#--------------------------------------------------------------------------------------------------------------------
# Step 1
#--------------------------------------------------------------------------------------------------------------------

In [76]:
# Load the csv file for Hôtel
df_hôtel = pd.read_csv ("Hôtel.csv")
df_hôtel.head()

,Category,ID,Name,Type/Field,Location/Region,Details,Extra,Destination,DEST_MILOT,Milot,...,Propriétaire,Maturité,Notes,Column1,Department,Region,Telephone,Proprietaire,Maturite_2014,Notes_2014
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Privé,Opérationnel,Hôtel historique 4*,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Privé,Opérationnel,Vue mer,piscine,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Privé,Opérationnel,Proche centre historique,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Privé,Opérationnel,Resort balnéaire avec plage privée,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Privé,Opérationnel,Auberge nature,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
# delete certains columns that are blank
df_hôtel =df_hôtel.drop(columns=["Category", "ID","Name","Type/Field","Location/Region","Details","Extra","Destination","DEST_MILOT","Milot",
                         "Department","Region","Telephone","Proprietaire","Maturite_2014","Notes_2014","Town","Nord","Parc National Historique sites (Citadelle, Palais Sans Souci)",
                         "Unnamed: 13"])

In [80]:
df_hôtel.head()

,Type,Nom,Commune,Département,Région,GPS_Lat,GPS_Lon,Téléphone,Email,Site_web,Propriétaire,Maturité,Notes,Column1
0,Hôtel,Habitation Jouissant,Cap-Haïtien,Nord,Nord,19.7590,-72.2010,+509 36 87 89 15,maguy@habitationjouissant.com,https://habitationjouissant.com,Privé,Opérationnel,Hôtel historique 4*,NaN
1,Hôtel,Hôtel Mont-Joli,Cap-Haïtien,Nord,Nord,19.7550,-72.2010,+509 22 60 58 47,info@hotelmontjoli.net,https://hotelmontjoli.net,Privé,Opérationnel,Vue mer,piscine
2,Hôtel,Hostellerie du Roi Christophe,Cap-Haïtien,Nord,Nord,19.7570,-72.2060,+509 36 87 89 15,info@hotelroichistophe.com,https://hotelroichistophe.com,Privé,Opérationnel,Proche centre historique,NaN
3,Hôtel,Cormier Plage Resort,Limonade,Nord,Nord,19.7498,-72.2296,+509 37 02 02 10,booking@cormierhaiti.com,https://cormierhaiti.com,Privé,Opérationnel,Resort balnéaire avec plage privée,NaN
4,Hôtel,Auberge Villa Cana,Vaudreuil,Nord,Nord,19.7020,-72.3020,+509 32 21 25 52,reception@aubergevillacana.com,https://aubergevillacana.com,Privé,Opérationnel,Auberge nature,NaN

In [144]:
# Filter the blanck
df_hôtel = df_hôtel.fillna("")

In [83]:
df_hôtel.head(1)

,Type,Nom,Commune,Département,Région,GPS_Lat,GPS_Lon,Téléphone,Email,Site_web,Propriétaire,Maturité,Notes,Column1
0,Hôtel,Habitation Jouissant,Cap-Haïtien,Nord,Nord,19.759,-72.201,+509 36 87 89 15,maguy@habitationjouissant.com,https://habitationjouissant.com,Privé,Opérationnel,Hôtel historique 4*,

In [84]:
# Change the name of certains columns to ensure clarity and adaptation
df_hôtel = df_hôtel.rename(columns={
    "Nom": "name",
    "Département": "Department",
    "Région": "Region",
    "Téléphone": "Telephone",
    "Propriétaire": "Ownership",
    "Maturité" : "Maturity",
    "Column1":"Included"
})

In [85]:
df_hôtel.head()

,Type,name,Commune,Department,Region,GPS_Lat,GPS_Lon,Telephone,Email,Site_web,Ownership,Maturity,Notes,Included
0,Hôtel,Habitation Jouissant,Cap-Haïtien,Nord,Nord,19.7590,-72.2010,+509 36 87 89 15,maguy@habitationjouissant.com,https://habitationjouissant.com,Privé,Opérationnel,Hôtel historique 4*,
1,Hôtel,Hôtel Mont-Joli,Cap-Haïtien,Nord,Nord,19.7550,-72.2010,+509 22 60 58 47,info@hotelmontjoli.net,https://hotelmontjoli.net,Privé,Opérationnel,Vue mer,piscine
2,Hôtel,Hostellerie du Roi Christophe,Cap-Haïtien,Nord,Nord,19.7570,-72.2060,+509 36 87 89 15,info@hotelroichistophe.com,https://hotelroichistophe.com,Privé,Opérationnel,Proche centre historique,
3,Hôtel,Cormier Plage Resort,Limonade,Nord,Nord,19.7498,-72.2296,+509 37 02 02 10,booking@cormierhaiti.com,https://cormierhaiti.com,Privé,Opérationnel,Resort balnéaire avec plage privée,
4,Hôtel,Auberge Villa Cana,Vaudreuil,Nord,Nord,19.7020,-72.3020,+509 32 21 25 52,reception@aubergevillacana.com,https://aubergevillacana.com,Privé,Opérationnel,Auberge nature,

In [87]:
#--------------------------------------------------------------------------------------------------------------------
# Step 2
#--------------------------------------------------------------------------------------------------------------------

In [92]:
# Load the csv file for Plage
df_plage = pd.read_csv ("Plage.csv")
df_plage.head()

,Category,ID,Name,Type/Field,Location/Region,Details,Extra,Destination,DEST_MILOT,Milot,...,Propriétaire,Maturité,Notes,Column1,Department,Region,Telephone,Proprietaire,Maturite_2014,Notes_2014
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Mixte (hôtel/public),Opérationnel,Plage sable blanc,accès hôtel,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Privé (Royal Caribbean),Opérationnel,Excursions croisières,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Publique,Opérationnel,Baie isolée,snorkeling,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Privé,Court terme,Resort plage,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Publique,Opérationnel,Site historique libération,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [147]:
# delete certains columns that are blank
df_plage =df_plage.drop(columns=["Category", "ID","Name","Type/Field","Location/Region","Details","Extra","Destination","DEST_MILOT","Milot",
                         "Department","Region","Telephone","Proprietaire","Maturite_2014","Notes_2014","Town","Nord","Parc National Historique sites (Citadelle, Palais Sans Souci)",
                         "Unnamed: 13"])

'\ndf_plage =df_plage.drop(columns=["Category", "ID","Name","Type/Field","Location/Region","Details","Extra","Destination","DEST_MILOT","Milot",\n                         "Department","Region","Telephone","Proprietaire","Maturite_2014","Notes_2014","Town","Nord","Parc National Historique sites (Citadelle, Palais Sans Souci)",\n                         "Unnamed: 13"])\n                         '

In [105]:
df_plage = df_plage.fillna("")

In [107]:
# Change the name of certains columns to ensure clarity and adaptation
df_plage = df_plage.rename(columns={
    "Nom": "name",
    "Département": "Department",
    "Région": "Region",
    "Téléphone": "Telephone",
    "Propriétaire": "Ownership",
    "Maturité" : "Maturity",
    "Column1":"Included"
})

In [108]:
df_plage.head()

,Type,name,Commune,Department,Region,GPS_Lat,GPS_Lon,Telephone,Email,Site_web,Ownership,Maturity,Notes,Included
0,Plage,Cormier Plage,Limonade,Nord,Nord,19.7498,-72.2296,+509 37 02 02 10,booking@cormierhaiti.com,,Mixte (hôtel/public),Opérationnel,Plage sable blanc,accès hôtel
1,Plage,Labadie Beaches (Royal Caribbean),Labadie,Nord,Nord,19.7850,-72.2480,+1 800 933 2121,,https://royalcaribbean.com,Privé (Royal Caribbean),Opérationnel,Excursions croisières,
2,Plage,Chouchou Baie,Port-Margot,Nord,Nord,19.7020,-72.6000,,,,Publique,Opérationnel,Baie isolée,snorkeling
3,Plage,M&M Beach (Camp Louise),Acul-du-Nord,Nord,Nord,19.7000,-72.6500,+509 37 51 67 59,mmbeachresort@yahoo.fr,,Privé,Court terme,Resort plage,
4,Plage,Plage de Limonade (historique),Limonade,Nord,Nord,19.6500,-72.1000,,,,Publique,Opérationnel,Site historique libération,

In [98]:
#--------------------------------------------------------------------------------------------------------------------
# Step 3
#--------------------------------------------------------------------------------------------------------------------

In [100]:
# Load the csv file for Site Historique
df_culturel = pd.read_csv ("Site_Culturel.csv")
df_culturel.head()

,Category,ID,Name,Type/Field,Location/Region,Details,Extra,Destination,DEST_MILOT,Milot,...,Propriétaire,Maturité,Notes,Column1,Department,Region,Telephone,Proprietaire,Maturite_2014,Notes_2014
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Privé,Opérationnel,Distillerie rhum clairin,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Privé,Moyen terme,Plantation agricole,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Communautaire,Opérationnel,Artisanat rhum,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Privé,Opérationnel,Ferme cacao bio,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [101]:
# delete certains columns that are blank
df_culturel =df_culturel.drop(columns=["Category", "ID","Name","Type/Field","Location/Region","Details","Extra","Destination","DEST_MILOT","Milot",
                         "Department","Region","Telephone","Proprietaire","Maturite_2014","Notes_2014","Town","Nord","Parc National Historique sites (Citadelle, Palais Sans Souci)",
                         "Unnamed: 13"])

In [109]:
 df_culturel= df_culturel.fillna("")

In [110]:
# Change the name of certains columns to ensure clarity and adaptation
df_culturel=  df_culturel.rename(columns={
    "Nom": "name",
    "Département": "Department",
    "Région": "Region",
    "Téléphone": "Telephone",
    "Propriétaire": "Ownership",
    "Maturité" : "Maturity",
    "Column1":"Included"
})

In [111]:
df_culturel.head()

,Type,name,Commune,Department,Region,GPS_Lat,GPS_Lon,Telephone,Email,Site_web,Ownership,Maturity,Notes,Included
0,Site Culturel,Rue Distillery,Cap-Haïtien,Nord,Nord,19.757,-72.206,,,,Privé,Opérationnel,Distillerie rhum clairin,
1,Site Culturel,Grand Marnier Plantation,Cap-Haïtien,Nord,Nord,19.757,-72.206,,,,Privé,Moyen terme,Plantation agricole,
2,Site Culturel,Guildiveries Traditionnelles,Divers,Nord,Nord,19.650,-72.150,,,,Communautaire,Opérationnel,Artisanat rhum,
3,Site Culturel,Jean-Baptiste Chavanne Cocoa Farm,Divers,Nord,Nord,19.700,-72.200,,,,Privé,Opérationnel,Ferme cacao bio,

In [113]:
#--------------------------------------------------------------------------------------------------------------------
# Step 4
#--------------------------------------------------------------------------------------------------------------------

In [114]:
# Load the csv file for Site Historique
df_historique = pd.read_csv ("Site_Historique.csv")
df_historique.head()

,Category,ID,Name,Type/Field,Location/Region,Details,Extra,Destination,DEST_MILOT,Milot,...,Propriétaire,Maturité,Notes,Column1,Department,Region,Telephone,Proprietaire,Maturite_2014,Notes_2014
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,ISPAN,Opérationnel,UNESCO,entrée ~10 USD,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,ISPAN,Opérationnel,UNESCO,ruines royales,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Gouvernement,Opérationnel,Fort colonial,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Publique,Opérationnel,Art taïno précolombien,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Gouvernement,Court terme,Fort côtier,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [115]:
# delete certains columns that are blank
df_historique =df_historique.drop(columns=["Category", "ID","Name","Type/Field","Location/Region","Details","Extra","Destination","DEST_MILOT","Milot",
                         "Department","Region","Telephone","Proprietaire","Maturite_2014","Notes_2014","Town","Nord","Parc National Historique sites (Citadelle, Palais Sans Souci)",
                         "Unnamed: 13"])

In [116]:
df_historique= df_historique.fillna("")

In [118]:
# Change the name of certains columns to ensure clarity and adaptation
df_historique=  df_historique.rename(columns={
    "Nom": "name",
    "Département": "Department",
    "Région": "Region",
    "Téléphone": "Telephone",
    "Propriétaire": "Ownership",
    "Maturité" : "Maturity",
    "Column1":"Included"
})

In [119]:
df_historique.head()

,Type,name,Commune,Department,Region,GPS_Lat,GPS_Lon,Telephone,Email,Site_web,Ownership,Maturity,Notes,Included
0,Site Historique,Citadelle Laferrière,Milot,Nord,Nord,19.6040,-72.2210,+509 36 69 47 47,,https://ispan.gouv.ht,ISPAN,Opérationnel,UNESCO,entrée ~10 USD
1,Site Historique,Palais Sans-Souci,Milot,Nord,Nord,19.6018,-72.2186,+509 36 69 47 47,,https://ispan.gouv.ht,ISPAN,Opérationnel,UNESCO,ruines royales
2,Site Historique,Fort Liberté,Fort-Liberté,Nord,Nord,19.7000,-72.0300,,,,Gouvernement,Opérationnel,Fort colonial,
3,Site Historique,Pétroglyphes de Sainte-Suzanne,Sainte-Suzanne,Nord,Nord,19.6500,-72.1000,,,,Publique,Opérationnel,Art taïno précolombien,
4,Site Historique,Fort Picolet,Labadee,Nord,Nord,19.7800,-72.2500,,,,Gouvernement,Court terme,Fort côtier,

In [121]:
#--------------------------------------------------------------------------------------------------------------------
# Step 5
#--------------------------------------------------------------------------------------------------------------------

In [122]:
# Load the csv file for Aéroport
df_aéroport = pd.read_csv ("Aéroport.csv")
df_aéroport.head()

,Category,ID,Name,Type/Field,Location/Region,Details,Extra,Destination,DEST_MILOT,Milot,...,Propriétaire,Maturité,Notes,Column1,Department,Region,Telephone,Proprietaire,Maturite_2014,Notes_2014
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Gouvernement haïtien,Opérationnel,Hub principal international,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Gouvernement haïtien,Opérationnel,Accès principal au Nord,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Gouvernement haïtien,Opérationnel,Aéroport régional Sud,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Gouvernement haïtien,Opérationnel,Proche grottes Sud,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Gouvernement haïtien,Opérationnel,Accès Sud-Ouest,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [123]:
# delete certains columns that are blank
df_aéroport =df_aéroport.drop(columns=["Category", "ID","Name","Type/Field","Location/Region","Details","Extra","Destination","DEST_MILOT","Milot",
                         "Department","Region","Telephone","Proprietaire","Maturite_2014","Notes_2014","Town","Nord","Parc National Historique sites (Citadelle, Palais Sans Souci)",
                         "Unnamed: 13"])

In [124]:
# delete the NaN rows
df_aéroport= df_aéroport.fillna("")

In [125]:
# Change the name of certains columns to ensure clarity and adaptation
df_aéroport=  df_aéroport.rename(columns={
    "Nom": "name",
    "Département": "Department",
    "Région": "Region",
    "Téléphone": "Telephone",
    "Propriétaire": "Ownership",
    "Maturité" : "Maturity",
    "Column1":"Included"
})

In [128]:
#--------------------------------------------------------------------------------------------------------------------
# Step 6
#--------------------------------------------------------------------------------------------------------------------

In [129]:
# Load the csv file for Grotte
df_grotte = pd.read_csv ("Grotte.csv")
df_grotte.head()

,Category,ID,Name,Type/Field,Location/Region,Details,Extra,Destination,DEST_MILOT,Milot,...,Propriétaire,Maturité,Notes,Column1,Department,Region,Telephone,Proprietaire,Maturite_2014,Notes_2014
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Ministère du Tourisme,Opérationnel,Plus grande grotte Haïti,spéléo guidée,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Ministère du Tourisme,Opérationnel,Grotte avec formations karstiques,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Ministère du Tourisme,Opérationnel,Grotte majeure,cascades internes,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Ministère du Tourisme,Opérationnel,Grotte mythique vodou,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Ministère du Tourisme,Opérationnel,Accès randonnée,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [131]:
## delete certains columns that are blank
df_grotte =df_grotte.drop(columns=["Category", "ID","Name","Type/Field","Location/Region","Details","Extra","Destination","DEST_MILOT","Milot",
                         "Department","Region","Telephone","Proprietaire","Maturite_2014","Notes_2014","Town","Nord","Parc National Historique sites (Citadelle, Palais Sans Souci)",
                         "Unnamed: 13"])

In [132]:
# delete the NaN rows
df_grotte= df_grotte.fillna("")

In [133]:
# Change the name of certains columns to ensure clarity and adaptation
df_grotte=  df_grotte.rename(columns={
    "Nom": "name",
    "Département": "Department",
    "Région": "Region",
    "Téléphone": "Telephone",
    "Propriétaire": "Ownership",
    "Maturité" : "Maturity",
    "Column1":"Included"
})

In [137]:
#--------------------------------------------------------------------------------------------------------------------
# Step 7
#--------------------------------------------------------------------------------------------------------------------

In [138]:
# Load the csv file for Canyon
df_canyon = pd.read_csv ("Canyon.csv")
df_canyon.head()

,Category,ID,Name,Type/Field,Location/Region,Details,Extra,Destination,DEST_MILOT,Milot,...,Propriétaire,Maturité,Notes,Column1,Department,Region,Telephone,Proprietaire,Maturite_2014,Notes_2014
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Ministère du Tourisme,Opérationnel,Canyon aventure,via ferrata,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Ministère du Tourisme,Opérationnel,Ravine avec bassins,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Opérationnel,Canyon escarpé,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [139]:
# delete certains columns that are blank
df_canyon =df_canyon.drop(columns=["Category", "ID","Name","Type/Field","Location/Region","Details","Extra","Destination","DEST_MILOT","Milot",
                         "Department","Region","Telephone","Proprietaire","Maturite_2014","Notes_2014","Town","Nord","Parc National Historique sites (Citadelle, Palais Sans Souci)",
                         "Unnamed: 13"])

In [140]:
#delete the NaN rows
df_canyon= df_canyon.fillna("")

In [141]:
# Change the name of certains columns to ensure clarity and adaptation
df_canyon=  df_canyon.rename(columns={
    "Nom": "name",
    "Département": "Department",
    "Région": "Region",
    "Téléphone": "Telephone",
    "Propriétaire": "Ownership",
    "Maturité" : "Maturity",
    "Column1":"Included"
})

In [143]:
# download the grouped data
df_aéroport.to_csv("Aéroport_cleaned.csv", index=False)
df_hôtel.to_csv("Hôtel_cleaned.csv",index=False)
df_plage.to_csv("Plage_cleaned.csv",index=False)
df_grotte.to_csv("Grotte_cleaned.csv",index=False)
df_canyon.to_csv("Canyon_cleaned.csv",index=False)
df_historique.to_csv("Site_Historique_cleaned.csv",index=False)
df_culturel.to_csv("Site_Culturel_cleaned.csv",index=False)