In [6]:
import pandas as pd

In [9]:
# Load dataset for inbound UN arrivals arrivals tourist in the world
df = pd.read_excel("UN_Tourism_inbound_arrivals_10_2025.xlsx")
df.head()
# Load dataset for inbound UN arrivals arrivals tourist by purpose in the world
df_purpose = pd.read_excel("UN_Tourism_inbound_arrivals_by_purpose_10_2025.xlsx")
df_purpose.head()
# Load dataset for inbound UN arrivals arrivals tourist  by transport in the world
df_transport = pd.read_excel("UN_Tourism_inbound_arrivals_by_transport_10_2025.xlsx")
df_transport.head()
# Load dataset for inbound expenditure by tourists in the world
df_expenditure = pd.read_excel("UN_Tourism_inbound_expenditure_10_2025.xlsx")
df_expenditure.head()

,indicator_code,indicator_label,indicator_previous_code,reporter_area_code,reporter_area_label,partner_area_code,partner_area_label,year,value,flag,flag_label,unit,notes,drop
0,INBD_EXPD_BPAY_PSTR_VSTR,inbound - expenditure - balance of payments - ...,CP_1_35,4,Afghanistan,999,World,2008,40.0,NaN,NaN,million US dollars (nominal values),NaN,NaN
1,INBD_EXPD_BPAY_PSTR_VSTR,inbound - expenditure - balance of payments - ...,CP_1_35,4,Afghanistan,999,World,2009,53.0,NaN,NaN,million US dollars (nominal values),NaN,NaN
2,INBD_EXPD_BPAY_PSTR_VSTR,inbound - expenditure - balance of payments - ...,CP_1_35,4,Afghanistan,999,World,2010,72.0,NaN,NaN,million US dollars (nominal values),NaN,NaN
3,INBD_EXPD_BPAY_PSTR_VSTR,inbound - expenditure - balance of payments - ...,CP_1_35,4,Afghanistan,999,World,2011,80.0,NaN,NaN,million US dollars (nominal values),NaN,NaN
4,INBD_EXPD_BPAY_PSTR_VSTR,inbound - expenditure - balance of payments - ...,CP_1_35,4,Afghanistan,999,World,2012,65.0,NaN,NaN,million US dollars (nominal values),NaN,NaN

In [10]:
#  filter the inbound UN arrivals arrivals tourist in the world dataset to extract data only for Haiti
df_haiti = df[(df["reporter_area_label"] == "Haiti")]
df_haiti.head()
# filter the inbound UN arrivals arrivals tourist by purpose in the world dataset to extract data only Haiti
df_haiti_by_purpose = df_purpose[(df_purpose["reporter_area_label"] == "Haiti")]
df_haiti_by_purpose.head()
# Load the inbound UN arrivals arrivals tourist  by transport in the world dataset to extract data only for Haiti
df_haiti_by_transport = df_transport[(df_transport["reporter_area_label"] == "Haiti")]
df_haiti_by_transport.head()
# Load the inbound expenditure by tourists in the world dataset to extract data only for Haiti
df_haiti_by_expenditure = df_expenditure[
    (df_expenditure["reporter_area_label"] == "Haiti")
]
df_haiti_by_expenditure.head()

,indicator_code,indicator_label,indicator_previous_code,reporter_area_code,reporter_area_label,partner_area_code,partner_area_label,year,value,flag,flag_label,unit,notes,drop
10005,INBD_EXPD_BPAY_TRVL_VSTR,inbound - expenditure - balance of payments - ...,CP_1_34,332,Haiti,999,World,1995,90.0,NaN,NaN,million US dollars (nominal values),NaN,NaN
10006,INBD_EXPD_BPAY_TRVL_VSTR,inbound - expenditure - balance of payments - ...,CP_1_34,332,Haiti,999,World,1996,96.0,NaN,NaN,million US dollars (nominal values),NaN,NaN
10007,INBD_EXPD_BPAY_TRVL_VSTR,inbound - expenditure - balance of payments - ...,CP_1_34,332,Haiti,999,World,1997,107.0,NaN,NaN,million US dollars (nominal values),NaN,NaN
10008,INBD_EXPD_BPAY_TRVL_VSTR,inbound - expenditure - balance of payments - ...,CP_1_34,332,Haiti,999,World,1998,131.0,NaN,NaN,million US dollars (nominal values),NaN,NaN
10009,INBD_EXPD_BPAY_TRVL_VSTR,inbound - expenditure - balance of payments - ...,CP_1_34,332,Haiti,999,World,1999,135.0,NaN,NaN,million US dollars (nominal values),NaN,NaN

In [15]:
# save the df_haiti in a csv file
df_haiti.to_csv("UN_tourism_inbound_Arrivals_haiti.csv", index=False)
# save the df_haiti_by_purpose in a csv file
df_haiti_by_purpose.to_csv(
    "UN_tourism_inbound_Arrivals_haiti_by_purpose.csv", index=False
)
# save the df_haiti_by_transport in a csv file
df_haiti_by_transport.to_csv(
    "UN_tourism_inbound_Arrivals_haiti_by_transport.csv", index=False
)
# save the df_haiti_by_expenditure in a csv file
df_haiti_by_expenditure.to_csv(
    "UN_tourism_inbound_Arrivals_haiti_by_expenditure.csv", index=False
)

In [17]:
# see the shape of these datasets
df_haiti.shape
df_haiti_by_purpose.shape
df_haiti_by_transport.shape
# visualize thr first 5 lines of df_haiti_by_expenditure
df_haiti_by_expenditure.head()

,indicator_code,indicator_label,indicator_previous_code,reporter_area_code,reporter_area_label,partner_area_code,partner_area_label,year,value,flag,flag_label,unit,notes,drop
10005,INBD_EXPD_BPAY_TRVL_VSTR,inbound - expenditure - balance of payments - ...,CP_1_34,332,Haiti,999,World,1995,90.0,NaN,NaN,million US dollars (nominal values),NaN,NaN
10006,INBD_EXPD_BPAY_TRVL_VSTR,inbound - expenditure - balance of payments - ...,CP_1_34,332,Haiti,999,World,1996,96.0,NaN,NaN,million US dollars (nominal values),NaN,NaN
10007,INBD_EXPD_BPAY_TRVL_VSTR,inbound - expenditure - balance of payments - ...,CP_1_34,332,Haiti,999,World,1997,107.0,NaN,NaN,million US dollars (nominal values),NaN,NaN
10008,INBD_EXPD_BPAY_TRVL_VSTR,inbound - expenditure - balance of payments - ...,CP_1_34,332,Haiti,999,World,1998,131.0,NaN,NaN,million US dollars (nominal values),NaN,NaN
10009,INBD_EXPD_BPAY_TRVL_VSTR,inbound - expenditure - balance of payments - ...,CP_1_34,332,Haiti,999,World,1999,135.0,NaN,NaN,million US dollars (nominal values),NaN,NaN

In [19]:
# df["reporter_area_label"].unique()
# df_haiti_by_purpose["year"].unique()
# df_haiti_by_purpose.isnull().sum()
# df_haiti_by_transport.isnull().sum()
# df_haiti_by_expenditure.isnull().sum()
df_haiti_by_expenditure["year"].unique()

array([1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005,
       2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016,
       2017, 2018, 2019, 2020, 2021, 2022], dtype=int64)

In [61]:
# create a array with the names the caribbean country to extract data for the caribbean region
caribbean_countries = [
    "Antigua and Barbuda",
    "Bahamas",
    "Barbados",
    "Belize",
    "Cuba",
    "Dominica",
    "Dominican Republic",
    "Grenada",
    "Jamaica",
    "Saint Kitts and Nevis",
    "Saint Lucia",
    "Haiti",
    "Saint Vincent and the Grenadines",
    "Trinidad and Tobago",
    "Anguilla",
    "Bermuda",
    "British Virgin Islands",
    "Cayman Islands",
    "Montserrat",
    "Turks and Caicos Islands",
    "Guadeloupe",
    "Martinique",
    "Aruba",
    "Curaçao",
    "Sint Maarten (Dutch part)",
    "Bonaire",
    "Saba",
    "St. Eustatius",
    "Puerto Rico",
    "United States Virgin Islands",
]

In [63]:
# filter the dataset to keep data only for the caribbean region
df_caribbean = df[df["reporter_area_label"].isin(caribbean_countries)]

In [65]:
# visualize the first 5 lines of the new dataset
df_caribbean.head()

,indicator_code,indicator_label,indicator_previous_code,reporter_area_code,reporter_area_label,partner_area_code,partner_area_label,year,value,flag,flag_label,unit,notes,drop
16,INBD_TRIP_TOTL_CRUS_EXCR,inbound - trips - total - cruise ships - same-...,CP_1_4,28,Antigua and Barbuda,999,World,1995,227.0,NaN,NaN,thousand trips,NaN,NaN
17,INBD_TRIP_TOTL_CRUS_EXCR,inbound - trips - total - cruise ships - same-...,CP_1_4,28,Antigua and Barbuda,999,World,1996,270.0,NaN,NaN,thousand trips,NaN,NaN
18,INBD_TRIP_TOTL_CRUS_EXCR,inbound - trips - total - cruise ships - same-...,CP_1_4,28,Antigua and Barbuda,999,World,1997,286.0,NaN,NaN,thousand trips,NaN,NaN
19,INBD_TRIP_TOTL_CRUS_EXCR,inbound - trips - total - cruise ships - same-...,CP_1_4,28,Antigua and Barbuda,999,World,1998,336.0,NaN,NaN,thousand trips,NaN,NaN
20,INBD_TRIP_TOTL_CRUS_EXCR,inbound - trips - total - cruise ships - same-...,CP_1_4,28,Antigua and Barbuda,999,World,1999,328.0,NaN,NaN,thousand trips,NaN,NaN

In [67]:
# see the list of caribbean country take into consideration
df_caribbean["reporter_area_label"].unique()

array(['Antigua and Barbuda', 'Bahamas', 'Barbados', 'Bermuda', 'Belize',
       'British Virgin Islands', 'Cayman Islands', 'Cuba', 'Dominica',
       'Dominican Republic', 'Grenada', 'Guadeloupe', 'Haiti', 'Jamaica',
       'Martinique', 'Montserrat', 'Curaçao', 'Aruba',
       'Sint Maarten (Dutch part)', 'Puerto Rico',
       'Saint Kitts and Nevis', 'Anguilla', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Trinidad and Tobago',
       'Turks and Caicos Islands', 'United States Virgin Islands',
       'Bonaire', 'Saba', 'St. Eustatius'], dtype=object)

In [69]:
#  save the data for caribbean country in a csv file
df_caribbean.to_csv("UN_tourism_caribbean_countries_raw.csv", index=False)

In [71]:
df_caribbean.shape

(3025, 14)