In [2]:
import pandas as pd

In [102]:
# Load the csv file cleaning 
df= pd.read_csv("UN_tourism_caribbean_countries_raw.csv")
df.head()

,indicator_code,indicator_label,indicator_previous_code,reporter_area_code,reporter_area_label,partner_area_code,partner_area_label,year,value,flag,flag_label,unit,notes,drop
0,INBD_TRIP_TOTL_CRUS_EXCR,inbound - trips - total - cruise ships - same-...,CP_1_4,28,Antigua and Barbuda,999,World,1995,227.0,NaN,NaN,thousand trips,NaN,NaN
1,INBD_TRIP_TOTL_CRUS_EXCR,inbound - trips - total - cruise ships - same-...,CP_1_4,28,Antigua and Barbuda,999,World,1996,270.0,NaN,NaN,thousand trips,NaN,NaN
2,INBD_TRIP_TOTL_CRUS_EXCR,inbound - trips - total - cruise ships - same-...,CP_1_4,28,Antigua and Barbuda,999,World,1997,286.0,NaN,NaN,thousand trips,NaN,NaN
3,INBD_TRIP_TOTL_CRUS_EXCR,inbound - trips - total - cruise ships - same-...,CP_1_4,28,Antigua and Barbuda,999,World,1998,336.0,NaN,NaN,thousand trips,NaN,NaN
4,INBD_TRIP_TOTL_CRUS_EXCR,inbound - trips - total - cruise ships - same-...,CP_1_4,28,Antigua and Barbuda,999,World,1999,328.0,NaN,NaN,thousand trips,NaN,NaN

In [104]:
df.columns

Index(['indicator_code', 'indicator_label', 'indicator_previous_code',
       'reporter_area_code', 'reporter_area_label', 'partner_area_code',
       'partner_area_label', 'year', 'value', 'flag', 'flag_label', 'unit',
       'notes', 'drop'],
      dtype='object')

In [106]:
# drop empty and irrelevant columns to prepare the dataset for analysis 
df_caribbean = df.drop(columns=["indicator_code", "indicator_previous_code", "indicator_previous_code","reporter_area_code",
                                "partner_area_code", "flag", "flag_label","notes","drop"])

In [110]:
# rename the visitors types in indicator_label for more clarity in simplicity 
df_caribbean["indicator_label"] = df_caribbean["indicator_label"].replace({
    "inbound - trips - total - cruise ships - same-day visitors (excursionists)": "excursionists",
    "inbound - trips - total - total - overnight visitors (tourists)": "tourists",
    "inbound - trips - total - total - same-day visitors (excursionists)": "excursionists",
    "inbound - trips - total - total - visitors": "total_visitors"
})

In [84]:
df_caribbean.head()

,indicator_label,reporter_area_label,partner_area_label,year,value,unit
0,excursionists,Antigua and Barbuda,World,1995,227.0,thousand trips
1,excursionists,Antigua and Barbuda,World,1996,270.0,thousand trips
2,excursionists,Antigua and Barbuda,World,1997,286.0,thousand trips
3,excursionists,Antigua and Barbuda,World,1998,336.0,thousand trips
4,excursionists,Antigua and Barbuda,World,1999,328.0,thousand trips

In [114]:
#see the remaining columns 
df_caribbean.columns

Index(['indicator_label', 'reporter_area_label', 'partner_area_label', 'year',
       'value', 'unit'],
      dtype='object')

In [116]:
# rename the remaining columns for clarity and simplicity
df_caribbean = df_caribbean.rename(columns={
    "indicator_label": "type_of_visitors",
    "reporter_area_label": "country_receiving",
    "partner_area_label": "where_tourist_from",
    "value": "number_of_tourist"
})

In [120]:
df_caribbean.sample(10)

,type_of_visitors,country_receiving,where_tourist_from,year,number_of_tourist,unit
2306,total_visitors,Bahamas,World,2020,1794.5,thousand trips
416,excursionists,Montserrat,World,2012,0.8,thousand trips
307,excursionists,Guadeloupe,World,2001,238.0,thousand trips
2861,total_visitors,Saint Lucia,World,1997,563.0,thousand trips
1429,tourists,Turks and Caicos Islands,World,2002,155.0,thousand trips
2408,total_visitors,British Virgin Islands,World,2009,857.0,thousand trips
2949,total_visitors,Turks and Caicos Islands,World,2012,968.0,thousand trips
2765,total_visitors,Sint Maarten (Dutch part),World,2013,2253.0,thousand trips
2197,excursionists,United States Virgin Islands,World,2000,1850.0,thousand trips
379,excursionists,Martinique,World,1995,428.0,thousand trips

In [124]:
# save the clean dataset in a csv file
df_caribbean.to_csv("UN_tourism_caribbean_countries_cleaned.csv",index=False)

In [128]:
df_caribbean.shape

(3025, 6)