In [47]:
import os
import pandas as pd
import numpy as np  


os.getcwd()

'/home/clif_lastrophysicien/ELO2_LAPERLE_HT/4_data_analysis'

In [48]:
ROOT_DIR = os.path.abspath("..")
DATA_DIR = os.path.join(ROOT_DIR, "1_datasets")

sys.path.append(DATA_DIR)

In [49]:
import os
import pandas as pd

ROOT_DIR = os.path.abspath("..")
print("ROOT_DIR =", ROOT_DIR)

CSV_PATH = os.path.join(
    ROOT_DIR,
    "1_datasets",
    "raw_data",
    "UN_tourism_caribbean_countries_raw",
    "UN_tourism_inbound_Arrivals_caribbean_countries.csv",
)

print("CSV_PATH =", CSV_PATH)
print("Existe ?", os.path.exists(CSV_PATH))

df = pd.read_csv(CSV_PATH)

ROOT_DIR = /home/clif_lastrophysicien/ELO2_LAPERLE_HT
CSV_PATH = /home/clif_lastrophysicien/ELO2_LAPERLE_HT/1_datasets/raw_data/UN_tourism_caribbean_countries_raw/UN_tourism_inbound_Arrivals_caribbean_countries.csv
Existe ? True

In [39]:
df.head()

,indicator_code,indicator_label,indicator_previous_code,reporter_area_code,reporter_area_label,partner_area_code,partner_area_label,year,value,flag,flag_label,unit,notes,drop
0,INBD_TRIP_TOTL_CRUS_EXCR,inbound - trips - total - cruise ships - same-...,CP_1_4,28,Antigua and Barbuda,999,World,1995,227.0,NaN,NaN,thousand trips,NaN,NaN
1,INBD_TRIP_TOTL_CRUS_EXCR,inbound - trips - total - cruise ships - same-...,CP_1_4,28,Antigua and Barbuda,999,World,1996,270.0,NaN,NaN,thousand trips,NaN,NaN
2,INBD_TRIP_TOTL_CRUS_EXCR,inbound - trips - total - cruise ships - same-...,CP_1_4,28,Antigua and Barbuda,999,World,1997,286.0,NaN,NaN,thousand trips,NaN,NaN
3,INBD_TRIP_TOTL_CRUS_EXCR,inbound - trips - total - cruise ships - same-...,CP_1_4,28,Antigua and Barbuda,999,World,1998,336.0,NaN,NaN,thousand trips,NaN,NaN
4,INBD_TRIP_TOTL_CRUS_EXCR,inbound - trips - total - cruise ships - same-...,CP_1_4,28,Antigua and Barbuda,999,World,1999,328.0,NaN,NaN,thousand trips,NaN,NaN

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3025 entries, 0 to 3024
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   indicator_code           3025 non-null   object
 1   indicator_label          3025 non-null   object
 2   indicator_previous_code  3025 non-null   object
 3   reporter_area_code       3025 non-null   int64
 4   reporter_area_label      3025 non-null   object
 5   partner_area_code        3025 non-null   int64
 6   partner_area_label       3025 non-null   object
 7   year                     3025 non-null   int64
 8   value                    3025 non-null   float64
 9   flag                     2 non-null      object
 10  flag_label               2 non-null      object
 11  unit                     3025 non-null   object
 12  notes                    2 non-null      object
 13  drop                     0 non-null      float64
dtypes: float64(2), int64(3), object(9)
memory usage: 331.0+ KB

In [42]:
df.value_counts()

Series([], Name: count, dtype: int64)

In [44]:
import matplotlib.pyplot as plt

plt.scatter(df['Year'], df['Arrivals'])
plt.xlabel('Year')
plt.ylabel('Arrivals')

ModuleNotFoundError: No module named 'matplotlib'